#    ALIASES  
#   ---***---
# Reference(s): 
# <https://stackoverflow.com/questions/5240755/how-to-use-aliases-defined-in-bashrc-in-other-scripts>
# Bash aliases - examples found in /usr/share/doc/bash-doc/examples
# Functions - similar to aliases, but can have things like parameters/variables
# Example function - "apt-grab <program> = "sudo apt-get -f install <program> --install-suggests"
# }

# func wifi-func() {
#     "sudo nmcli dev wifi connect ${1} password ${2}"
# }
#
# func shinstall() {
#     "sudo apt-get -fm install ${1} --install-suggests"
# }

# Terminal navigation
alias ls="ls -a --color=auto"
alias lss='ls'
alias lsa="ls -apw 100 --group-directories-first"
alias lsg="ls -GAp --group-directories-first"
alias lsd="ls -plax --group-directories-first"

# Apt or apt-get shortcuts for convenience
alias aptg-up="sudo apt-get update && sudo apt-get dist-upgrade"
alias aptg="sudo apt-get"
alias aptg-in="sudo apt-get -f install"
alias apt-up="sudo apt update && sudo apt upgrade"
alias apt-in="sudo apt install"
alias apt-s="sudo apt search"
alias purge="sudo apt-get purge"
alias remove="sudo apt-get remove"
# add/remove repositories
alias aptaddrepo="sudo add-apt-repository"
alias aptrmrepo="sudo add-apt-repository --remove"
alias aptrmppa:="sudo add-apt-repository --remove ppa:"

# Sets screen brightness for monitor i.e. backlight (number between 0 and 1)
alias xlight="xrandr --output eDP-1 --brightness"
alias xdim="xrandr --output eDP-1 --brightness 0.65"
alias xbright="xrandr --output eDP-1 --brightness 1"

# Wifi operations via the terminal - very long, very specific, aliases therefore very necessary
alias wifi-go="sudo nmcli dev wifi connect"
alias mifi="sudo nmcli dev wifi connect MY_EX-WIFI_GOT_THE_HOUSE password amqv294#"
alias wifi-scan="sudo nmcli dev wifi"

# Pip, pipenv, and python
alias pipinstall="sudo pip3 --user install"
alias pipenv="python3 -m pipenv"
alias ppvg="python3 -m pipenv graph"
alias ppvin="python3 -m pipenv install"
alias ppvcheck="python3 -m pipenv check"
alias ppvsync="python3 -m pipenv sync"
alias ppvupdate="python3 -m pipenv update"
alias pipenvshell="python3 -m pipenv shell"

# --Git--
# start a working area
alias ginit="git init"
alias gclone="git clone"
# work on the current change
alias gadd="git add"
alias gmv="git mv"
alias greset="git reset"
alias grm="git rm"
# examine the history and state (see also: git help revisions)
alias gbisect="git bisect"
alias ggrep="git grep"
alias glog="git log"
alias gshow="git show"
alias gs="git status"
# grow, mark and tweak your common history
alias gbranch="git branch"
alias gcheckout="git checkout"
alias gdiff="git diff"
alias gcommit="git commit"
alias gmerge="git merge"
alias grebase="git rebase"
alias gtag="git tag"
# collaborate (see also: git help workflows)
alias gfetch="git fetch"
alias gpush="git push"
alias gpull="git pull"

# Emulation & Games - Last but not least
alias vidgames="emulationstation"

# Python
alias python="python3"
alias py="python3"

# Custom Scripts
alias sync-dfs="~/sync.sh"

# --Apps--
# qutebrowser (start with debug features on)
alias qtbrowse="qutebrowser --debug --debug"
# youtube-dl
alias youtubedll="youtube-dl --geo-bypass --merge-output-format mp4 --restrict-filenames -R 99 --max-filesize 2000m --max-downloads 50 --verbose"
# shinstall.sh (zsh 'apt install' script)
alias shinstall="~/shinstall.sh"
# wget
alias wget="wget -t 99 --retry-connrefused"


