# Dotfiles gitignore
*
.viminfo
.ssh/*
.ssh
id_rsa
*.pub

# ignore all files not listed below preceded with a '!'

# vim
!.vimrc
!.vim
!.vim/ftplugin/python.vim
!.vim/templates/skeleton.*
!.vim/ftdetect/*.vim
!.vim/autoload/*.vim
!.config/nvim/init.vim
!.config/nvim/*

# terminal (bash and zsh) 
!.bashrc
!.purepower
!.profile
!.zplug
!.zshrc
!.zprofile
!.aliases
!.aliases-m
!powerlevel10k/*
!powerlevel10k
!.kick_shell
!.tmux.conf

# git
!.gitignore
!.gitconfig

=======

# misc
!crashlog-1.md
!README
