# Dotfiles gitignore
*
.viminfo

# ignore all files not listed below preceded with a '!'

# vim
!.vimrc
!.vim
!.vim/ftplugin/python.vim
!.vim/templates/skeleton.*
!.vim/ftdetect/*.vim
!.vim/autoload/*.vim

# terminal (bash and zsh) 
!.bashrc
!.purepower
!.profile
!.zplug
!.zshrc

# git
!.gitignore
!.gitconfig

# misc
!crashlog-1.md
!README
!.ssh
