[submodule "powerlevel10k"]
	path = powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule ".zplug"]
	path = .zplug
	url = git@github.com:zplug/zplug.git
[submodule "nvim-config_-_lazier-than-thou"]
	path = nvim-config_-_lazier-than-thou
	url = https://github.com/Alanwatts42/nvim-config_-_lazier-than-thou.git
[submodule ".config/nvim-config_-_lazier-than-thou"]
	path = .config/nvim-config_-_lazier-than-thou
	url = https://github.com/Alanwatts42/nvim-config_-_lazier-than-thou.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
